/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@font-face {
    font-family: 'Caviar';
    src: url('./assets/fonts/caviar_dreams/CaviarDreams.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CaviarBold';
    src: url('./assets/fonts/caviar_dreams/CaviarDreams_Bold.ttf') format('truetype');
    font-weight: Bold;
    font-style: normal;
}

.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


/* Colors */
:root {
    --mainColor: #282423;
    --secondaryColor: #E6AB33;
    --Color1: #BBDEF0;
    --Color2: #ffffff;
    --Color3: #2c3e50;
}


/* Body */
body{
    font-family: 'Caviar', sans-serif !important;
    background-color: #282423 !important;
}

.buttons{
    border: 0;
    height: 4rem;
    width: 340px;
    border-radius: 12px;
}

.buttons:hover{
    color: white;
    background-color: var(--secondaryColor); 
    transition: 0.4s;
}

.titulo h1{
    font-size: 2rem;
    color: #ffffff;
    margin-top: 4rem;
}

footer{
    margin-top: 4rem;
}


/* Header */
.navbar{
    padding: 0 !important;
}

.navbar-bg{
    background-color: #282423;
}

.nav-item a{
    font-size: 1.3rem;
    color: white;
}

.promo{
    z-index: 0;
    display: flex;
    flex-direction: column;
    background-image: url("./assets/images/hero3.jpg");
    filter: grayscale(); /*Provisorio*/
    background-size: cover;
    background-position: center;
    height: 63rem;
    transition: opacity 0.7s ease-in-out; 
}

.promo.fade-out {
    opacity: 0;
}

.promo.fade-in {
    opacity: 1;
}

.promoInfo{ 
    z-index: 1;
    position: absolute;
    top: 0rem;
    width: 100%;
}

.promoInfo h1{ 
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--mainColor);
    font-size: 5rem;
    margin: 30rem 0 0 7.5%;
    font-family: 'lobster' !important;
}

.promoInfo button{
    font-size: 1.7rem;
    margin: 7rem 0 0 7.5%;
}

.promoInfo button:hover{
    transition: 0.4s;
    background-color: var(--secondaryColor); 
    color: white;
}


/* Main */
main{
    display: flex;
    flex-direction: column;
    margin: 2% 0 0 7.5% ;
    width: 85%;
}


/* Fotter */
.footer-container{
    margin: 0 7.5% 0 7.5%;
}
footer p{
    color: white;
}
footer img{
    height: 70px;
}
footer a{
    font-size: 1rem !important;
}


/* Home */
/* Section Contactos */
.contactos{
    display: inline-flex;
    align-items: center;
    height: 20rem;
    border-radius: 6px;
    background-image: url("./assets/images/golf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 60% right;
    background-color: white;
    margin: 2rem 0 0 0;
}

.contactos h5{
    margin-left: 10%;
    font-size:2.7rem;
}

.contactos p{
    margin-left: 10%;
    font-size: 1.5rem;
}

.contactos button{
    height: 5rem;
    font-size: 2rem;
    width: 20%;
    margin-left: 10%;
}


/* Section Serviços */
.cardServicos{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.cardServicos .card{
    width: 24rem;
    height: 27rem;
}

.card-img-top{
    overflow: hidden;
}

.card-img-top img:hover{
    transform: scale(1.2);
}

.images{
    height: 25rem;
    transition: transform 0.4s ease-in-out;   
}


/* Section Transfers */
.cardTransfers{
    width: 100%;
    height: 24rem;
    display: inline-flex;
    justify-content: space-between;
}

.cardTransfers .card{
    width: 32.5rem;
}

/* Section Tours */
.cardTour{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.cardTour .card{
    width: 24rem;
    height: 27rem;
}



/* Sobre */
.main-about{
    margin-top: 5%;
    color: white;
    text-align: justify;
}

.c-img{
    height: 35rem;
    object-fit:cover;
}


/* Serviços */
.tabs{
    display: inline-flex !important;
}





/* Preços */





/* Contactos */
.mapa iframe{
    border-radius:12px;
    margin-top: 80px;
}

.mapaContactos{
    margin-top: 40px;
}

.mapaContactos h1{
    font-size: 3rem;
    color: #ffffff;
}

.mapaContactos p{
    font-size: 1.2rem;
    color: #ffffff;
    margin: 0;
}

.infoDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.info{
    display: inline-flex;
}

.info svg{
    border-radius: 6px;
    height: 2rem;
    margin-right: 15px;
    background: linear-gradient(45deg, #ffd700, #ffffff, #ffcc00, #a58400);
}