/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@font-face {
    font-family: 'Caviar';
    src: url('./assets/fonts/caviar_dreams/CaviarDreams.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CaviarBold';
    src: url('./assets/fonts/caviar_dreams/CaviarDreams_Bold.ttf') format('truetype');
    font-weight: Bold;
    font-style: normal;
}
@font-face {
    font-family: 'Cormorant';
    src: url('./assets/fonts/Cormorant/Cormorant-VariableFont_wght.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
};

.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* Colors */
:root {
    --mainColor: #282423;
    --secondaryColor: #E6AB33;
    --Color1: #e7eff3;
    --Color2: #ffefae;
    --Color3: #201d1c;
    --Color4: #474240;
    --Color5: #f6faff;
    --Color6: #b9b9b9;
    --Color7: #343a40;
    --Color8: #3d444b;

    --Font_Cormorant: 'Cormorant', sans-serif;
    --Font_Caviar: 'Caviar', sans-serif;
    --Font_Lobster: 'Lobster', sans-serif;
    --Font_LobsterBold: 'Lobster', sans-serif;
}


/* Header */
.navbar {
    padding: 0 !important;
}

.navbar-bg {
    background-color: var(--Color3);
}

.nav-item a {
    font-size: 1.3rem;
    color: white;
}

.navbar-bg {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.nav-link .dropdown-toggle .show {
    color: white !important;
}

.navbar-nav .nav-link:hover {
    color: var(--Color2) !important;
}

.navbar-nav .dropdown-item {
    color: white;
    background-color: var(--Color3);
}

.navbar-nav .dropdown-item:hover {
    color: var(--Color2);
    background-color: var(--Color4);
}

.navbar-nav .fw-bold:hover {
    color: white !important;
}

.dropdown-menu {
    background-color: var(--mainColor) !important;
}


/* Body */
body {
    font-family: 'Cormorant', sans-serif !important;
    font-size: 1.1rem !important;	
    background-color: #282423 !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.buttons {
    border: 0;
    height: 4rem;
    width: 340px;
    border-radius: 12px;
}

.buttonsGolf {
    width: 260px !important;
    margin-left: 50% !important;
}

.buttons:hover {
    color: white;
    background-color: var(--secondaryColor);
    transition: 0.4s;
}

.buttons a {
    text-decoration: none;
    color: var(--mainColor);
}

.buttons a:hover {
    color: white;
    background-color: var(--secondaryColor);
    transition: 0.4s;
}

.titulo h1 {
    font-family: var(--Font_Caviar);
    font-size: 2rem;
    margin-top: 4rem;
}

h1 {
    color: var(--Color5) !important;
}


/* Main */
main {
    display: flex;
    flex-direction: column;
    width: 85%;
    flex: 1;
    margin: 2% 0 0 7.5%;
}


/* Fotter */
.border-top {
    width: 85%;
    margin-left: 7.5%;
}

footer p {
    color: var(--Color6);
}

footer img {
    height: 55px;
}

footer a {
    font-size: 1rem !important;
    color: var(--Color6) !important;
}

footer a:hover {
    color: var(--Color1) !important;
}

footer {
    margin-top: 4rem;
}


/* index.html */
/* Promo */
.promo {
    z-index: 0;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    height: 63rem;
    transition: opacity 0.4s ease-in-out;
}

.promo.fade-out {
    opacity: 0;
}

.promo.fade-in {
    opacity: 1;
}

.promoInfo {
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 0rem;
    width: 100%;
    transition: opacity 0.4s;

}
.promoInfo.show{
    opacity: 1;
} 
.promoInfo h1 {
    color: white;
    text-shadow: 1px 1px 1px var(--mainColor);
    font-size: 5rem;
    margin: 30rem 0 0 7.5%;
    font-family: 'lobster' !important;
}

.promoInfo button {
    font-size: 1.7rem;
    margin: 7rem 0 0 7.5%;
}

.promoInfo button:hover {
    transition: 0.4s;
    background-color: var(--secondaryColor);
    color: white;
}


/* Section Contactos */
.golf {
    display: inline-flex;
    align-items: center;
    height: 20rem;
    border-radius: 6px;
    background-image: url("./assets/images/home/golf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 60% right;
    background-color: white;
    margin: 2rem 0 0 0;
}

.golf h5 {
    font-family: var(--Font_Caviar);
    text-shadow: white 2px 2px 2px;
    margin-left: 10%;
    font-size: 2.7rem;
}

.golf p {
    text-shadow: white 2px 2px 2px;

    margin-left: 10%;
    font-size: 1.5rem;
}

.golf button {
    height: 5rem;
    font-size: 2rem;
    width: 20%;
    margin-left: 10%;
}


/* Section Serviços */
.cardServicos {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.cardServicos .card {
    width: 24rem;
    height: 27rem;
}

.card-img-top {
    overflow: hidden;
}

.card-img-top img:hover {
    transform: scale(1.2);
}

.images {
    height: 25rem;
    transition: transform 0.4s ease-in-out;
}

.recImages {
    height: 16rem;
    transition: transform 0.4s ease-in-out;
}


/* Section Transfers */
.cardTransfers {
    width: 100%;
    height: 24rem;
    display: inline-flex;
    justify-content: space-between;
}

.cardTransfers .card {
    width: 32.5rem;
}


/* Section Tours */
.cardTour {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.cardTour .card {
    width: 24rem;
    height: 27rem;
}


/* Titulos & Card color*/
.titulo h1 {
    font-family: 'CaviarBold', sans-serif !important;
}

.card {
    background-color: var(--Color1) !important;
}


/* about.html */
/* Sobre */
.main-about {
    margin-top: 5%;
    color: white;
    text-align: justify;
}

.main-about h1 {
    font-family: 'CaviarBold', sans-serif !important;
    margin-top: 2rem;
}

.carousel-caption p {
    margin-bottom: 0 !important;
}

.carousel-caption {
    margin-left: 15%;
    width: 40%;
    border-radius: 70px;
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 60px !important;
    height: 60px !important;
    filter: invert(1)
}

.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
    transition: 0.3s;
    filter: invert(0)
}

.c-img {
    height: 35rem;
    object-fit: cover;
    border-radius: 12px;
}

.ofertas {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}


/* services.html */
/* Serviços */
.sidebar {
    width: 120px !important;
    margin: 18rem 0 0 0.5% !important;
}

.tabs {
    width: 85% !important;
}

.mainServicos {
    width: 100% !important;
    margin: 2rem 0 0 0;
}

.mainServicos h2,
.mainServicos p {
    color: white;
    margin: 2rem 0 0 0;
}

.mainServicos img {
    height: 38rem;
    border-radius: 12px;
    margin: 2rem 2rem 0 0;
}

.servicosConteudo {
    display: inline-flex !important;
}

.servicos button {
    color: var(--Color2);
}

.servicos button:hover {
    color: var(--secondaryColor);
}

.servicos .active {
    color: var(--secondaryColor) !important;
}

.nav-tabs .nav-link.active {
    background-color: var(--Color4) !important;
}

.nav-tabs .nav-link.active:focus {
    background-color: var(--Color4) !important;
}

.servicos .active button:hover {
    background-color: var(--Color4);
    border: solid var(--Color2) 1px;
}

.sidebar .list-group-item {
    background-color: var(--Color3);
    color: var(--Color2);
    border: none;
}

.sidebar .list-group-item.active {
    background-color: var(--Color4);
    border: none;
}

.sidebar .list-group-item:hover {
    background-color: var(--Color4);
    color: var(--secondaryColor) !important;
}


/* prices.html */
/* Preços */
.precario {
    margin-top: 6rem;
}

.precario button {
    color: var(--Color2);
}

.precario button:hover {
    color: var(--secondaryColor);
}

.precario .active {
    color: var(--secondaryColor) !important;
}

main .condicoesGerais {
    color: white;
    text-align: justify;
}

.condicoesGerais h2 {
    font-family: 'CaviarBold', sans-serif !important;
    margin-top: 2rem;
    text-align: center;
}

.condicoesGerais {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.precarioInfo {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.alignRight {
    padding-left: 20% !important;
}

.alignCenter {
    text-align: center;
}

.table {
    overflow: hidden;
    border-collapse: separate;
    border-radius: 24px;
    border-spacing: 0;
}

.table thead th {
    padding: 1.2rem;
    text-align: center;
    color: white;
    background-color: var(--Color7) !important;
    border-bottom: solid 1px var(--mainColor);
}

.table tbody td {
    text-align: center;
    color: white;
    background-color: var(--Color4);
    border-bottom: solid 1px var(--mainColor);
}

.table tbody th {
    text-align: center;
    background-color: var(--Color8);
    border-bottom: solid 1px var(--mainColor);
    color: white;
}


/* contacts.html */
/* Contactos */
.mapa iframe {
    border-radius: 12px;
    margin-top: 100px;
}

.mapaContactos {
    margin-top: 40px;
}

.mapaContactos h1 {
    font-size: 3rem;
    color: #ffffff;
}

.mapaContactos p {
    font-size: 1.2rem;
    color: #ffffff;
    margin: 0;
    text-align: justify;
}

.infoDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.info {
    display: inline-flex;
}

.info svg {
    border-radius: 6px;
    height: 2rem;
    margin: -4px 15px 0 0;
    fill: var(--Color2);
    background: var(--mainColor);
}

.info .whatsapp{
    height: 2.5rem;
    margin-top: -8px;
}


/* termos.html politicas.html */
/* Politicas e Termos */
.politicaTermos h1,
.politicaTermos h2,
.politicaTermos p {
    color: white;
    text-align: justify;
}

.politicaTermos h1 {
    margin: 5rem 0 3rem 0;
}

.politicaTermos a {
    color: white !important;
}